{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>fb</title>
	
</head>
<style>
.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}
</style>
<body style="background-color:black;">
<h1 style="color:white; text-align: center;"><u>Author</u></h1>
<div class="center">
<text style="color:white; text-align: center;">Having started in graphic design in London in the 1990s, Frost achieved great success at the leading studios in the design capital of the world and became famous for his work at an early age. Frost now runs an internationally focused creative ideas studio called Frost*collective, from Sydney, Australia.<br style="margin-bottom:10px;"></text>
</div>
<div class="center1">
<img src="{% static 'images/PC.jpg' %}" style="max-width  : 80%; height: 300px">
</div>
<div class="center">
<text style="color:white; text-align: center;"><br style="margin-bottom:10px;">In addition to winning the most coveted accolades in the field of design, Frost has been both an international ambassador for Australia’s design industries and the subject of a retrospective exhibition at the Sydney Opera House. He has art directed and designed notable books and magazines and worked with leading arts and cultural organisations, governments and blue chip businesses, to help them bring visionary ideas to life.</text>
</div>
</body>
</html>