{% load static%}
<!DOCTYPE html>
<html>
<head>
	<title>fb</title>
	
</head>
<style>
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}
</style>
<body style="background-color:black;">
<h1 style="color:white; text-align: center;"><u>Synopsis</u></h1>
<div class="center">
<text style="color:white; text-align: center;">
	    I spend my working life helping other people work smarter.<br style="margin-bottom:10px;">

    Every day my team and I enter organisations, identify problems and find solutions. We redesign not just how an organisation looks but how it articulates, how it flows.<br style="margin-bottom:10px;">

    For the past 25 years, I have always been designing. I’ve built a thriving practice, amassed an enviable number of accolades and earned the respect of my peers not to mention numerous repeat clients. By all measures, I am a success.
    <br style="margin-bottom:10px;">
    But for years my private life was a mess. I was helping people work smarter. But I did not know how to live smarter. I was designing and redesigning everything but me.
    <br style="margin-bottom:10px;">
    It wasn’t a moment of revelation so much as evolution. I can’t say when it happened but it seems I hired me to help myself live better by living smarter. I began applying my principles of design to my own life. And I found my flow: I am more reflective, more alive to my senses, more in touch with the people in my life and more aware of my value. In short, I am happier.

    
</div>
</body>
</html>